*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    overflow-x: hidden;
 }

a {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
}

.whatsapp {
    position: fixed;
    width: 98px;
    height: 100px;
    margin: 0 0 20px 20px;
    bottom: 0;
    z-index: 999;
    background: url(../assets/icons/WhatsApp_icon.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.menu {
 padding: 50px 100px;
 display: inline-flex;
 flex-direction: row;
 width: 100vw;
 justify-content: space-between;
}

.printa-logo {

}

.menu-list {
    list-style: none;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.underline {
    margin-top: 2px;
    height: 3px;
    width: 28%;
    background: #4FADE1;
}

.us, .services, .experience, .contact {
    margin: 0 50px;
}

.section-1 {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/printa_slide.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-black{
    background: rgba(0, 0, 0, 0.68);
    width: inherit;
    height: inherit;
}

.section-1-title {
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-size: 64px;
}

.section-1-title div div {
    display: inline;
    color: #05B0E6;
    font-weight: 700;
    margin: 0 50px;
}

.section-1-footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-down {
    cursor: pointer;
}

.brand {
    background: rgba(255, 255, 255, 0.232);
    width: 100%;
    height: 15px;
}

.section-2 {
    width: 100vw;
    background: #F2F2F2;
    padding: 20px 0 124px 0;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.container-section-2 {
    display: flex;
    margin: 0 90px 0 180px;
    justify-content: space-around;
}

.info {
    width: 622px;
    font-size: 20px;
    word-spacing: 4px;
}

.p1, .p2, .p3, .p4 {
    margin: 25px 0;
    line-height: 2;
}

.p2 {
    color: #05B0E6;
    font-size: 40px;
    font-weight: bold;
}

.img {
    background: url(../assets/img/printa_color_show.jpg);
    width: 696px;
    height: 692px;
    background-position: center center;
}

.object {
    position: absolute;
    z-index: 10;
    margin-top: 610px;
}

.section-3 {

}

.p-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.t-services { 
margin-top: 40px;
}

.papeleria-corporativa, .papeleria-publicitaria, 
.papeleria-administrativa, .papeleria-social {
    width: 408px;
    height: 408px;
}

.papeleria-corporativa {
    background: pink;
}

.papeleria-publicitaria {
    background: black;
    color: white;
}

.papeleria-administrativa {
    background: skyblue;
}

.papeleria-social {
    background: yellow;
}
