* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

li img {
    margin-right: 13px;
}

iframe {
    width: 100%;
    height: 699px
}

.header {
    z-index: 10;
    position: fixed;
}

.printa-logo-svg-mobile {
    display: none;
}

.btn-menu {
    display: none;
    cursor: pointer;
}

.whatsapp {
    position: fixed;
    width: 72.27px;
    height: 72.27px;
    bottom: 50px;
    left: 25px;
    z-index: 999;
    background: url(../assets/icons/WhatsApp_icon.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.menu {
    padding: 50px 100px;
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.menu-list {
    list-style: none;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.underline {
    margin-top: 2px;
    height: 3px;
    width: 2.3%;
    background: #4FADE1;
    position: absolute;
}

.us, .services, .experience, .contact {
    margin: 0 50px;
}

.section-1 {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/printa_slide.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-black {
    background: rgba(0, 0, 0, 0.68);
    width: inherit;
    height: inherit;
}

.section-1-title {
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-size: 64px;
}

.section-1-title div div {
    display: inline;
    color: #05B0E6;
    font-weight: 700;
    margin: 0 50px;
}

.section-1-footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-down {
    cursor: pointer;
    width: 53px;
    height: 53px;
    margin-bottom: 40px;
}

.btn-down-icon{
    background: url(../assets/icons/btn_down.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

.brand {
    background: rgba(255, 255, 255, 0.232);
    width: 100%;
    height: 15px;
}

.section-2 {
    width: 100vw;
    background: #fafafa;
    padding: 20px 0 124px 0;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.container-section-2 {
    display: flex;
    padding: 0 40px 0 140px;
    max-width: 1920px;
    justify-content: space-around;
    margin: auto;
}

.info {
    width: 622px;
    height: 692px;
    font-size: 20px;
    word-spacing: 4px;
}

.p1, .p2, .p3, .p4 {
    margin: 25px 0;
    line-height: 2;
}

.p2 {
    color: #05B0E6;
    font-size: 40px;
    font-weight: bold;
}

.img {
    background: url(../assets/img/printa_color_show.jpg);
    width: 696px;
    height: 692px;
    background-size: cover;
    background-position: center center;
}

.object {
    position: absolute;
    z-index: 1;
    margin-top: 610px;
}

.section-3 {
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.p-container {
    width: 1632px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

.t-services { 
    margin-top: 120px;
}

.papeleria-corporativa, .papeleria-publicitaria, 
.papeleria-administrativa, .papeleria-social {
    width: 408px;
    height: 408px;
    font-size: 33px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.papeleria-corporativa {
    background: #E5117C;
    grid-column: 2;
}

.papeleria-publicitaria {
    background: black;
    grid-column: 4;
}

.papeleria-administrativa {
    background: #05B0E6;
    grid-row: 2;
}

.papeleria-social {
    background: #FDC71F;
    grid-row: 2;
    grid-column: 3;
}

.pap-corp, .pap-pub,
.pap-adm, .pap-soc, .pap-description{
    margin: 20px 0;
}


.p-pap-corp, .p-pap-pub,
.p-pap-adm, .p-pap-soc {
    line-height: 1.2;
}

.pap-description {
    font-size: 29px;
    font-weight: 400;
    color: black;
    width: 260px;
}

.btn {
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.674);
    margin-top: 361px;
    margin-right: 361px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pap-corp {
    width: 185.75px;
    height: 151.37px;
    background: url(../assets/icons/papeleria_corporativa.png);
}

.pap-pub {
    width: 109.08px;
    height: 147.4px;
    background: url(../assets/icons/papeleria_publicitaria.png);
}

.pap-adm {
    width: 117.54px;
    height: 146.24px;
    background: url(../assets/icons/papeleria_administrativa.png);
}

.pap-soc {
    width: 119.55px;
    height: 129.49px;
    background: url(../assets/icons/papeleria_social.png);
}

.pap-corp, .pap-pub,
.pap-adm, .pap-soc {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.container-section-4 {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t-experience {
    margin: 120px 0 90px 0
}

.centro_medico_colima,
.la_marina, .altozano,
.olivos_gasolineria, .m_logo,
.shikimoto, .sequoia,
.unique_spa, .yin_yiao {
    width: 200px;
    height: 100px;
}

.centro_medico_colima {
    background: url(../assets/icons/centro_medico_colima.png);
}

.la_marina {
    /*  */
    background: url(../assets/icons/la_marina.png);
}

.altozano {
    /*  */
    background: url(../assets/icons/altozano.png);
}

.olivos_gasolineria {
    /*  */
    background: url(../assets/icons/olivos_gasolineria.png);
}

.m_logo {
    /*  */
    background: url(../assets/icons/m_logo.png);
}

.shikimoto {
    /*  */
    background: url(../assets/icons/shikimoto.png);
}

.sequoia {
    /*  */
    background: url(../assets/icons/sequoia.png);
}

.unique_spa {
    /*  */
    background: url(../assets/icons/unique_spa.png);
}

.yin_yiao {
    /*  */
    background: url(../assets/icons/yin_yiao.png);
}

.centro_medico_colima,
.la_marina, .altozano,
.olivos_gasolineria, .m_logo,
.shikimoto, .sequoia,
.unique_spa, .yin_yiao {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.section-5 {
    margin-bottom: 100px;
}

.container-section-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1644px;
    margin: auto;
}

.contact-map-section,
.contact-data-section {
    width: 50%;
}

.contact-data-section {
    font-weight: bold;
    height: 699px;
    display: flex;
    background: #F2F2F2;
}

.contact-data {
    margin: auto;
}

.t-contact {
    font-size: 50px;
    margin-bottom: 100px;
}

.contact-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.li-tel, .li-whatsapp,
.li-mail, .li-address {
    display: flex;
    align-items: center;
}

.li-tel a, .li-whatsapp a,
.li-mail a{
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
}

.li-tel {
    margin: 35px 0;
}

.li-whatsapp {
    margin: 35px 0;
}

.li-mail {
    margin: 35px 0;
}

.li-address {
    margin: 35px 0 0 0;
    align-items: initial;
}

.section-6 {
    margin-bottom: 100px;
}

.container-section-6 {
    max-width: calc( 822px + 822px );
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.facebook, .instagram {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
}

.facebook {
    background: #E5117C;
}

.instagram {
    background: #05B0E6;
}

.face{
    width: 60px;
    height: 60px;
    background: url(../assets/icons/facebook.png) no-repeat center center;
}
.ins{
    width: 60px;
    height: 60px;
    background: url(../assets/icons/instagram.png) no-repeat center center;
    background-size: contain;
}

.footer {
    background-color: black;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printa-icon-footer {
    padding: 40px 0;
}

.footer-menu ul{
    color: white;
    font-size: 18px;
    list-style: none;
    display: flex;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 20px 0;
}

.stroke {
    stroke: white;
}
/* <!-------- FILLS --------¡> */
.icon-fill{
    fill: #fff;
}

.toggle-bg-gray {
    background: #F2F2F2 !important;
}

.toggle-txt-color-black {
    color: black;
}

/* <!-------- TRANSITIONS --------¡> */

.transition-black {
    transition: 0.2s;
    fill: #000;
}

.transition-white {
    transition: 0.2s;
    fill: #fff;
}

.transition-stroke-white {
    transition: 0.2s;
    stroke: white;
}

.transition-stroke-black {
    transition: 0.2s;
    stroke: black;
}

.menu-transition {
    transition: 0.4s;
    right: 0 !important;
}

/* <!-------- SWIPERJS --------¡> */

.mySwiper {
    max-width: 1632px;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 10px !important;
    color: #c8c8c8 !important;
    top: initial !important;
    position: initial !important;
    z-index: 5 !important;
}

.swiper-slide {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 1900px) {
    .menu {
        padding: 50px 50px;
    }

    .menu-list {
        font-size: 16px;
        letter-spacing: 6px;
    }

    .us, .services, .experience, .contact {
        margin: 0 30px;
    }

    .section-1-title {
        font-size: 54px;
    }

    .section-1-title div div {
        margin: 0 25px;
    }

    .info {
        width: calc(622px - 10%);
        font-size: 18px;
        word-spacing: 3px;
    }

    .p2 {
        font-size: 30px;
    }

    .img {
        width: calc(696px - 100px);
        height: calc(696px - 100px);
    }

    .p-container {
        width: 1232px;
    }

    .papeleria-corporativa, .papeleria-publicitaria, 
    .papeleria-administrativa, .papeleria-social {
        width: 308px;
        height: 308px;
        font-size: 24px;
    }

    .pap-corp, .pap-pub,
    .pap-adm, .pap-soc, .pap-description{
        margin: 0 0 20px 0;
    }

    .pap-corp {
        width: calc(185.75px - 50px);
        height: calc(151.37px - 50px);
    }
    
    .pap-pub {
        width: calc(109.08px - 40px);
        height: calc(147.4px - 40px);
    }
    
    .pap-adm {
        width: calc(117.54px - 40px);
        height: calc(146.24px - 40px);
    }
    
    .pap-soc {
        width: calc(119.55px - 40px);
        height: calc(129.49px - 40px);
    }

    .pap-description {
        font-size: 24px;
        width: 70%;
    }
    
    .btn {
        margin-top: 270px;
        margin-right: 271px;
        width: 37px;
        height: 37px;
    }

    .container-section-4, 
    .container-section-5,
    .container-section-6 {
        max-width: 1232px;
    }


    .contact-data-section {
        height: calc(699px - 150px);
    }

    iframe {
        height: 549px
    }

    .footer-menu ul{
        font-size: 16px;
        letter-spacing: 6px;
    }
}


@media (max-width: 1300px) {
    .menu {
        padding: 25px 25px;
    }

    .menu-list {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .us, .services, .experience, .contact {
        margin: 0 15px;
    }

    .info {
        width: calc(622px - 200px);
        font-size: 16px;
        word-spacing: 3px;
    }

    .p1, .p2, .p3, .p4 {
        margin: 15px 0;
        line-height: 1.7;
    }

    .p2 {
        font-size: 27px;
    }

    .img {
        width: calc(696px - 200px);
        height: calc(696px - 200px);
    }

    .p-container {
        width: 1032px;
    }

    .papeleria-corporativa, .papeleria-publicitaria, 
    .papeleria-administrativa, .papeleria-social {
        width: 258px;
        height: 258px;
        font-size: 19px;
    }

    .pap-corp, .pap-pub,
    .pap-adm, .pap-soc, .pap-description{
        margin: 0 0 10px 0;
    }

    .pap-corp {
        width: calc(185.75px - 70px);
        height: calc(151.37px - 70px);
    }
    
    .pap-pub {
        width: calc(109.08px - 60px);
        height: calc(147.4px - 60px);
    }
    
    .pap-adm {
        width: calc(117.54px - 60px);
        height: calc(146.24px - 60px);
    }
    
    .pap-soc {
        width: calc(119.55px - 60px);
        height: calc(129.49px - 60px);
    }

    .pap-description {
        font-size: 19px;
    }
    
    .btn {
        margin-top: 220px;
        margin-right: 221px;
        width: 37px;
        height: 37px;
    }

    .container-section-4, 
    .container-section-5,
    .container-section-6 {
        max-width: 1032px;
    }

    .t-contact {
        font-size: 40px;
        margin-bottom: 70px;
    }
    
    .contact-list {
        font-size: 16px;
        margin-top: 10px;
    }
    
    .li-tel {
        margin: 25px 0;
    }
    
    .li-whatsapp {
        margin: 25px 0;
    }
    
    .li-mail {
        margin: 25px 0;
    }
    
    .li-address {
        margin: 25px 0 0 0;
    }

    iframe {
        height: 549px
    }

    .footer-menu ul{
        font-size: 14px;
        letter-spacing: 5px;
    }
}

@media (max-width: 1100px) {

    .btn-down {
        margin-bottom: 30px;
    }
    
    .btn-down-icon {
        background: url(../assets/icons/btn_down_mobile.png) no-repeat;
    }

    .printa-logo-svg-web {
        display: none;
    }

    .printa-logo-svg-mobile {
        display: initial;
    }

    .whatsapp {
        background: url(../assets/icons/WhatsApp_icon_mobile.png) no-repeat;
    }

    .section-1 {
        background: url(../assets/img/printa_slide_mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .object{
        display: none;
    }

    .menu {
        padding: initial;
    }

    .printa-logo { 
        padding: 10px 0 0 20px;
        position: absolute;
        z-index: 10;
    }

    .btn-menu {
        position: absolute;
        display: initial;
        right: 40px;
        top: 45px;
    }
    
    .menu-list {
        position: absolute;
        background: rgba(0, 0, 0, 0.865);
        flex-direction: column;
        width: 50%;
        font-size: 14px;
        letter-spacing: 5px;
        z-index: 10;
        transition: 1s;
        top: 0;
        right: -100%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 8px;
        align-items: flex-end;
        padding: 40px 0;
        color: white !important;
    }

    .underline {
        display: none;
    }

    .us, .services, .experience, .contact {
        margin: 30px 30px;
    }

    .brand {
        background: white;
    }

    .section-1-title {
        text-align: center;
    }

    .section-1-title div div {
        display: block;
    }

    .section-2 {
        background: initial;
        padding-bottom: 0;
    }

    .title {
        text-align: start;
        width: 442px;
        margin: 50px auto auto auto;
        font-size: 30px;
    }

    .container-section-2 {
        flex-direction: column;
        padding: initial;
        align-items: center;
    }

    .info {
        width: 442px;
        height: initial;
        font-size: 15px;
        word-spacing: initial;
    }

    .p1, .p2, .p3, .p4 {
        margin: 15px 0;
        line-height: 1.7;
    }

    .p2 {
        font-size: 17px;
    }

    .img {
        width: 442px;
        height: 442px;
    }

    .p-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .t-services {
        width: 442px;
        margin: 70px 0 30px 0;
    }

    .papeleria-corporativa, .papeleria-publicitaria, 
    .papeleria-administrativa, .papeleria-social {
        width: 442px;
        height: 442px;
        font-size: 27px;
    }

    .pap-corp, .pap-pub,
    .pap-adm, .pap-soc, .pap-description{
        margin: 0 0 10px 0;
    }

    .pap-corp {
        width: 144.9px;
        height: 118.09px;
    }
    
    .pap-pub {
        width: 87.43px;
        height: 118.14px;
    }
    
    .pap-adm {
        width: 90.2px;
        height: 112.22px;
    }
    
    .pap-soc {
        width: 91.48px;
        height: 99.08px;
    }

    .papeleria-corporativa {
        background: #05B0E6;
        order: 1;
    }
    
    .papeleria-publicitaria {
        background: black;
        order: 4;
    }
    
    .papeleria-administrativa {
        background: #FDC71F;
        order: 3;
    }
    
    .papeleria-social {
        background: #E5117C;
        order: 2;
    }

    .pap-description {
        font-size: 27px;
    }
    
    .btn {
        margin-top: 404px;
        margin-right: 405px;
        width: 37px;
        height: 37px;
    }

    .t-experience {
        margin: 70px 0 40px 0;
    }

    .container-section-4, 
    .container-section-5,
    .container-section-6 {
        max-width: 442px;
    }

    .container-section-5 {
        flex-direction: column;
    }

    .contact-data-section,
    .contact-map-section {
        width: 100%;
    }

    .contact-data-section {
        height: 450px;
        order: 1;
    }

    .contact-map-section {
        order: 2;
    }

    .contact-data {
        width: 80%;
        margin-top: 0;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
    }

    .t-contact {
        display: none;
    }
    
    .contact-list {
        font-size: 15px;
        margin-top: 0;
    }
    
    .li-tel {
        margin: 40px 0;
    }
    
    .li-whatsapp {
        margin: 40px 0;
    }
    
    .li-mail {
        margin: 40px 0 30px 0;
        flex-direction: column;
        align-items: flex-start;
    }

        
    .li-mail img {
        position: absolute;
    }

    .li-mail a, .li-mail p {
        margin-left: 32px;
    }
    
    .li-address {
        margin: 30px 0 0 0;
        line-height: 2;
    }

    .li-address img {
        margin-top: 5px;
    }

    .br {
        display: none;
    }
    
    iframe {
        height: 349px
    }

    .container-section-6 {
        flex-direction: column;
    }

    .facebook, .instagram {
        width: 100%;
        height: 46px;
    }

    .face{
        width: 12.15px;
        height: 26.84px;
        background: url(../assets/icons/facebook_mobile.png) no-repeat center center;
    }
    .ins{
        width: 26px;
        height: 26px;
        background: url(../assets/icons/instagram_mobile.png) no-repeat center center;
        background-size: contain;
    }

    .footer-menu {
        display: none;
    }
}

@media (max-width: 500px) {
    .printa-logo { 
        padding: 10px 0 0 20px;
        position: absolute;
        z-index: 10;
    }
    
    .menu-list {
        position: absolute;
        background: rgba(0, 0, 0, 0.865);
        flex-direction: column;
        width: 50%;
        font-size: 14px;
        letter-spacing: 5px;
        z-index: 10;
        transition: 1s;
        top: 0;
        right: -100%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 8px;
        align-items: flex-end;
        padding: 40px 0;
        color: white !important;
    }

    .underline {
        display: none;
    }

    .us, .services, .experience, .contact {
        margin: 30px 30px;
    }

    .section-1-title {
        text-align: center;
    }

    .section-1-title div div {
        display: block;
    }

    .container-section-2 {
        flex-direction: column;
        padding: initial;
        align-items: center;
    }

    .info {
        width: calc(622px - 200px);
        height: initial;
        font-size: 15px;
        word-spacing: initial;
    }

    .p1, .p2, .p3, .p4 {
        margin: 15px 0;
        line-height: 1.7;
    }

    .p2 {
        font-size: 17px;
    }

    .img {
        width: 422px;
        height: 422px;
    }

    .p-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .papeleria-corporativa, .papeleria-publicitaria, 
    .papeleria-administrativa, .papeleria-social {
        width: 442px;
        height: 442px;
        font-size: 27px;
    }

    .pap-corp, .pap-pub,
    .pap-adm, .pap-soc, .pap-description{
        margin: 0 0 10px 0;
    }

    .pap-corp {
        width: 144.9px;
        height: 118.09px;
    }
    
    .pap-pub {
        width: 87.43px;
        height: 118.14px;
    }
    
    .pap-adm {
        width: 90.2px;
        height: 112.22px;
    }
    
    .pap-soc {
        width: 91.48px;
        height: 99.08px;
    }

    .papeleria-corporativa {
        background: #05B0E6;
        order: 1;
    }
    
    .papeleria-publicitaria {
        background: black;
        order: 4;
    }
    
    .papeleria-administrativa {
        background: #FDC71F;
        order: 3;
    }
    
    .papeleria-social {
        background: #E5117C;
        order: 2;
    }

    .pap-description {
        font-size: 27px;
    }
    
    .btn {
        margin-top: 404px;
        margin-right: 405px;
        width: 37px;
        height: 37px;
    }

    .container-section-4, 
    .container-section-5,
    .container-section-6 {
        max-width: 442px;
    }

    .container-section-5 {
        flex-direction: column;
    }

    .contact-data-section,
    .contact-map-section {
        width: 100%;
    }

    .contact-data-section {
        height: 450px;
        order: 1;
    }

    .contact-map-section {
        order: 2;
    }

    .contact-data {
        width: 80%;
        margin-top: 0;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
    }

    .t-contact {
        display: none;
    }
    
    .contact-list {
        font-size: 15px;
        margin-top: 0;
    }
    
    .li-tel {
        margin: 40px 0;
    }
    
    .li-whatsapp {
        margin: 40px 0;
    }
    
    .li-mail {
        margin: 40px 0 30px 0;
        flex-direction: column;
        align-items: flex-start;
    }

        
    .li-mail img {
        position: absolute;
    }

    .li-mail a, .li-mail p {
        margin-left: 32px;
    }
    
    .li-address {
        margin: 30px 0 0 0;
        line-height: 2;
    }

    .li-address img {
        margin-top: 5px;
    }

    .br {
        display: none;
    }
    
    iframe {
        height: 349px
    }

    .container-section-6 {
        flex-direction: column;
    }

    .facebook, .instagram {
        width: 100%;
    }

    .footer-menu {
        display: none;
    }
}