* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

li img {
    margin-right: 13px;
}

.header {
    z-index: 10;
    position: fixed;
}

.whatsapp {
    position: fixed;
    width: 98px;
    height: 100px;
    margin: 0 0 20px 20px;
    bottom: 0;
    z-index: 999;
    background: url(../assets/icons/WhatsApp_icon.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.menu {
    padding: 50px 100px;
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.menu-list {
    list-style: none;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.underline {
    margin-top: 2px;
    height: 3px;
    width: 28%;
    background: #4FADE1;
}

.us, .services, .experience, .contact {
    margin: 0 50px;
}

.section-1 {
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/printa_slide.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-black {
    background: rgba(0, 0, 0, 0.68);
    width: inherit;
    height: inherit;
}

.section-1-title {
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-size: 64px;
}

.section-1-title div div {
    display: inline;
    color: #05B0E6;
    font-weight: 700;
    margin: 0 50px;
}

.section-1-footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-down {
    cursor: pointer;
}

.brand {
    background: rgba(255, 255, 255, 0.232);
    width: 100%;
    height: 15px;
}

.section-2 {
    width: 100vw;
    background: #fafafa;
    padding: 20px 0 124px 0;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.container-section-2 {
    display: flex;
    padding: 0 40px 0 140px;
    max-width: 1920px;
    justify-content: space-around;
    margin: auto;
}

.info {
    width: 622px;
    font-size: 20px;
    word-spacing: 4px;
}

.p1, .p2, .p3, .p4 {
    margin: 25px 0;
    line-height: 2;
}

.p2 {
    color: #05B0E6;
    font-size: 40px;
    font-weight: bold;
}

.img {
    background: url(../assets/img/printa_color_show.jpg);
    width: 696px;
    height: 692px;
    background-size: cover;
    background-position: center center;
}

.object {
    position: absolute;
    z-index: 1;
    margin-top: 610px;
}

.section-3 {
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.p-container {
    width: 1632px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

.t-services { 
    margin-top: 40px;
}

.papeleria-corporativa, .papeleria-publicitaria, 
.papeleria-administrativa, .papeleria-social {
    width: 408px;
    height: 408px;
    font-size: 33px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.papeleria-corporativa {
    background: #E5117C;
    grid-column: 2;
}

.papeleria-publicitaria {
    background: black;
    grid-column: 4;
}

.papeleria-administrativa {
    background: #05B0E6;
    grid-row: 2;
}

.papeleria-social {
    background: #FDC71F;
    grid-row: 2;
    grid-column: 3;
}

.pap-corp, .pap-pub,
.pap-adm, .pap-soc, .pap-description{
    margin: 20px 0;
}


.p-pap-corp, .p-pap-pub,
.p-pap-adm, .p-pap-soc {
    line-height: 1.2;
}

.pap-description {
    font-size: 29px;
    font-weight: 400;
    color: black;
    width: 260px;
}

.btn {
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.674);
    margin-top: 361px;
    margin-right: 361px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pap-corp, .btn-pap-pub,
.btn-pap-adm, .btn-pap-soc {
    /*  */
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.container-section-4 {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t-experience {
    margin: 120px 0 90px 0
}

.section-5 {
    margin-bottom: 100px;
}

.container-section-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-data-section {
    font-weight: bold;
    width: 822px;
    height: 699px;
    display: flex;
    background: #F2F2F2;
}

.contact-data {
    margin: auto;
}

.t-contact {
    font-size: 50px;
    margin-bottom: 100px;
}

.contact-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.li-tel, .li-whatsapp,
.li-mail, .li-address {
    display: flex;
    align-items: center;
}

.li-tel a, .li-whatsapp a,
.li-mail a{
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
}

.li-tel {
    margin: 35px 0;
}

.li-whatsapp {
    margin: 35px 0;
}

.li-mail {
    margin: 35px 0;
}

.li-address {
    margin: 35px 0 0 0;
    align-items: initial;
}

.section-6 {
    margin-bottom: 100px;
}

.container-section-6 {
    max-width: calc( 822px + 822px );
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.facebook, .instagram {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
}

.facebook {
    background: #E5117C;
}

.instagram {
    background: #05B0E6;
}

.footer {
    background-color: black;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printa-icon-footer {
    padding: 40px 0;
}

.footer-menu ul{
    color: white;
    font-size: 18px;
    list-style: none;
    display: flex;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 20px 0;
}

/* <!-------- FILLS --------¡> */
.icon-fill{
    fill: #fff;
}

.toggle-bg-gray {
    background: #F2F2F2;
}

.toggle-txt-color-black {
    color: black;
}

/* <!-------- TRANSITIONS --------¡> */

.transition-black {
    transition: 0.2s;
    fill: #000;
}

.transition-white {
    transition: 0.2s;
    fill: #fff;
}

/* <!-------- SWIPERJS --------¡> */

.mySwiper {
    max-width: 1632px;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 10px !important;
    color: #c8c8c8 !important;
    top: initial !important;
    position: initial !important;
}

.swiper-slide {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 1700px) {
    .menu {
        padding: 50px 50px;
        width: 100vw;
    }

    .whatsapp {
        width: 88px;
        height: 90px;
    }

    .menu-list {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .us, .services, .experience, .contact {
        margin: 0 30px;
    }

    .section-1-title {
        font-size: 54px;
    }

    .section-1-title div div {
        display: inline;
        color: #05B0E6;
        font-weight: 700;
        margin: 0 25px;
    }

    .info {
        width: calc(622px - 10%);
        font-size: 18px;
        word-spacing: 3px;
    }

    .p2 {
        font-size: 30px;
    }

    .img {
        width: calc(696px - 100px);
        height: calc(696px - 100px);
    }

    .p-container {
        width: 1232px;
    }

    .papeleria-corporativa, .papeleria-publicitaria, 
    .papeleria-administrativa, .papeleria-social {
        width: 308px;
        height: 308px;
        font-size: 24px;
    }

    .pap-corp, .pap-pub,
    .pap-adm, .pap-soc, .pap-description{
        margin: 10px 0;
    }

    .pap-description {
        font-size: 24px;
    }
    
    .btn {
        margin-top: 270px;
        margin-right: 271px;
        width: 37px;
        height: 37px;
    }
}